@media only screen and (max-width: 720px) {
    .articles-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 720px) and (max-width: 1080px) {
    .articles-container {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
}

@media only screen and (min-width: 1080px) {
    .articles-container {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 50px;
    }
}

.articles-container {
    display: grid;
    grid-gap: 2rem;
}

.article-preview {
    border-radius: 5px;
    border-bottom: 1px solid #f1f1f1;
    transition: .1s linear;
    box-shadow: 0px 0px 44px -34px rgba(0,0,0,1);
    text-decoration: none;  
}

.article-preview:hover {
    border-bottom: 1px solid #ccc;
}

.article-preview img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.article-preview-title {
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.pagination-container {
    padding: 50px;
}

.page-number {
    margin: 0 15px 0 15px;
}